@model string
@{
    ViewBag.Title = "Share";
}

<h2>Share Blob</h2>

<div id="SASblobLink">@Model</div>


<div id="expiration-reminder">Remember that this link will work for 2 minutes after generation.</div>