<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AzureJobsRuntime" connectionString="DefaultEndpointsProtocol=https;AccountName=tisdemo;AccountKey=u5LDzAzW5v+T3CeJpz8PPwrIuusUKW8slZwmNfFckBsTril2JPG/iWkp6wj/45Xn02UNZxoX3Bt+KKVtngjm+w=="/>
    <add name="AzureJobsData" connectionString="DefaultEndpointsProtocol=https;AccountName=tisdemo;AccountKey=u5LDzAzW5v+T3CeJpz8PPwrIuusUKW8slZwmNfFckBsTril2JPG/iWkp6wj/45Xn02UNZxoX3Bt+KKVtngjm+w=="/>
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>